html, body {
    margin: 0;
    height: 100%;
}

#main h1{
    margin: 0;
    padding-top: 50px;
    font-size: 100px;
    letter-spacing: 5px;
}
#main{
    padding-top: 55px;
    text-align: center;
    font-family: 'Molle', cursive;
    color: white;
    background-color: lightslategray;
    min-height: 1000px;
    height: auto;
    width: 100%;
    background: url(weatherback.jpg);
    background-attachment: fixed;
    background-size: cover;
    
}

.box{
    height: 450px;
    width: 70%;
    border: solid;
    border-color: white;
    margin: auto;
    margin-top: 75px;
}

.location{
    font-size: 60px;
}

@media only screen and (max-width: 700px) {

   .location { font-size: 30px; }
    #main h1 { font-size: 50px; }
    
  
}

.temperature{
    font-size: 75px;
}
.humidity{
    font-size: 30px;
    
}
.wind{
    font-size: 30px;
    
}
.description{
    font-size: 30px;
    
}

#button {
    background-color: white;
    border: none;
    color:mediumpurple;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}


  

.advice{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
   font-weight: bold;
}

